<form action="/employees/<%= @employee.id %>" accept-charset="UTF-8" method="post">
  <input type="hidden" name="_method" value="patch">
  <div>
    <label for="employee_first_name">First Name</label><br>
    <input type="text" name="employee[first_name]" id="employee_first_name" value="<%= @employee.first_name %>">
  </div>

  <div>
    <label for="employee_last_name">Last Name</label><br>
    <input type="text" name="employee[last_name]" id="employee_last_name" value="<%= @employee.last_name %>"></input>
  </div>

  <div>
    <label for="employee_address">Address</label><br>
    <input type="text" name="employee[address]" id="employee_address" value="<%= @employee.address %>"></textarea>
  </div>

  <div>
    <label for="employee_date">Date</label><br>
    <input type="date" name="date">
  </div>

  <div>
    <input type="submit" name="commit" value="Save" data-disable-with="Save">
  </div>
</form>

